.card-content {
  font-family: "Circular";
  color: #2f2f2f;
}
.card-footer-article {
  background-color: transparent;
  border: 0;
}
.card-article {
  border: none;
}
.card-body {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.line {
  width: 3rem;
  margin: 1rem auto 0 !important;
  height: 1px;
  background: black;
}

.read-more {
  display: inline-block;
  color: #372772;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
.img-radius {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media (max-width: 600px) {
  .card-res {
    width: 75%;
  }

  .row {
    margin: 0 !important;
  }
}
