.notFoundTitle {
  color: black;
  font-size: 5em;
  text-align: center;
}
.notFoundText {
  color: darkgray;
  text-align: center;
  font-size: 3em;
}
.notFoundQuestion {
  font-size: 10em;
  text-shadow: darkgray;
  color: #000;
  text-align: center;
}
.notFoundImage {
  margin-top: 5em;
  width: 30%;
}
